body{

background:#0f172a;
font-family:Arial;
color:white;

}

.container{

width:80%;
margin:auto;
padding:40px;

}

h1{

text-align:center;

}

form{

text-align:center;
margin:40px;

}

button{

padding:12px 25px;
background:#2563eb;
color:white;
border:none;
cursor:pointer;
font-size:18px;

}

table{

width:100%;
border-collapse:collapse;
margin-top:30px;

}

th,td{

padding:15px;
border:1px solid gray;

}

th{

background:#1e40af;

}

.high{

color:red;

}

.medium{

color:orange;

}

.low{

color:lime;

}
